@model CoderGirl_MVCMovies.Models.MovieRating

@*@model CoderGirl_MVCMovies.Models.Movie*@
@{
    ViewData["Title"] = "Rate Movie";
}

<h1>Edit Movie Rating</h1>
<form asp-action="Edit">

    <label asp-for="Movie" class="control-label"></label>
    <input asp-for="Movie" id="Movie" readonly class="form-control" />

    <select name="Rating" id="Rating">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>

    <button type='submit'>Update Rating</button>
</form>


<div>
    <a asp-action="Index">Back to Ratings List</a>
</div>